<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Game Edit</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <a href="/games">Game Library</a>
            <a href="/games/new">Add New Game</a>
        </div>
    </nav>
    <h1>Edit Page | <%= game.title%></h1>
    <div>
        <form method="POST" action="/games/<%= game._id %>?_method=PUT">
            <div>
                <label>Game title</label>
                <input type="text" name="title" value="<%= game.title%>"/>
            </div>
            <div>
                <label>Game release</label>
                <input type="text" name="release" value="<%= game.release%>"/>
            </div>
            <div>
                <label>Game image</label>
                <input type="text" name="image" value="<%= game.image%>"/>
            </div>
            <div>
                <label>Game price</label>
                <input type="number" name="price" value="<%= game.price%>"/>
            </div>
            <div>
                <input type="submit" value="Edit Game: <% game.name%>"/>
            </div>
        </form>
    </div>
    
    <footer>
        <div class="footer">
            <img class="logo" src="https://cdn.discordapp.com/attachments/663490535402504225/969665723951632415/Untitled_design_2.png"/> @ 2022 Jonathan & Megan, Inc.
        </div>
    </footer>
</body>
</html>