<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <a href="/games">Game Library</a>
            <a href="/games/new">Add New Game</a>
        </div>
    </nav>
    <h1>Show Page</h1>
    <h2><%= oneGame.tltle %></h2>
    <small><%= oneGame.release %></small>
    <h3><%= oneGame.price %></h3>
    <img class="game-image" src="<%= oneGame.image %>" alt="<%=oneGame.title %>"/>
    <div>
        <a href="/games/<%= oneGame._id %>/edit">Edit <%= oneGame.title %></a>
    </div>
    <form method="POST" action="/games/<%= oneGame._id%>?_method=DELETE">
        <input type="submit" value="Delete Game"/>
    </form>

    <section>
        <h2>Game Reviews</h2>
        <div>
            <h3>Create a Review:</h3>
            <form method="POST" action="/reviews">
                <input name="rating" type="number"/>
                <input name="content" type="text"/>
                <input type="hidden" name="game" value="<%= oneGame.id %>"/>
                <input type="submit" value="Share your thoughts!"/>
            </form>
        </div>

        <% for(let i = 0; i < reviews.length; i++) { %>
            <div>
                <h3>Rating: <%= reviews[i].rating %> </h3>
                <p> <%= reviews[i].content %> </p>
                <form action="/reviews/<%=reviews[i]._id%>?_method=DELETE" method="POST">
                <input type="submit" value="delete review" />
                </form>
            </div>
        <% } %>
    </section>
</body>
</html>