<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show Page</h1>
    <h2><%= oneGame.tltle %></h2>
    <small><%= oneGame.release %></small>
    <h3><%= oneGame.price %></h3>
    <img class="game-image" src="<%= oneGame.image %>" alt="<%=oneGame.title %>"/>
    <div>
        <a href="/games/<%= oneGame._id %>/edit">Edit <%= oneGame.title %></a>
    </div>
    <form method="POST" action="/games/<%= oneGame._id%>?_method=DELETE">
        <input type="submit" value="Delete Game"/>
    </form>
</body>
</html>