<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title><%= oneGame.title %></title>
</head>
<body>
    <nav class="navbar">
        <div>
            <img class="logo" src="https://cdn.discordapp.com/attachments/663490535402504225/969665723951632415/Untitled_design_2.png"/><div id="title">CONDENSATION</div>
            <a href="/games">Game Library</a> | 
            <a href="/games/new">Add New Game</a>
        </div>
    </nav>
    <div id="game-title"><h2><%= oneGame.title %></h2></div>
    <img class="game-image" src="<%= oneGame.image %>" alt="<%=oneGame.title %>"/>
    <div class="show">
    
    <small>Release Date: <%= oneGame.release %></small>
    <h3>$<%= oneGame.price %></h3>
    
    <div>
        <a href="/games/<%= oneGame._id %>/edit">Edit <%= oneGame.title %></a>
    </div>
    <div id="game-delete">
    <form method="POST" action="/games/<%= oneGame._id%>?_method=DELETE">
        <input type="submit" value="Delete Game"/>
    </form>
    </div>
    </div>

    <section class="reviews">
        <h2><%= oneGame.title %> Reviews</h2>
        <div id="review-form">
            <h3>Create a Review:</h3>
            <form method="POST" action="/reviews">
                <input name="rating" type="number"/>
                <input name="content" type="text"/>
                <input type="hidden" name="game" value="<%= oneGame.id %>"/>
                <input type="submit" value="Share your thoughts!"/>
            </form>
        </div>

        <% for(let i = 0; i < reviews.length; i++) { %>
            <div id="review">
                <h3>Rating: <%= reviews[i].rating %> </h3>
                <hr>
                <p> <%= reviews[i].content %> </p>
                <hr>
                <form action="/reviews/<%=reviews[i]._id%>?_method=DELETE" method="POST">
                <input type="submit" value="delete review" />
                </form>
            </div>
        <% } %>
    </section>
</body>
</html>